.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 55px;
    line-height: 45px;
    background-color: peru;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a {
    text-decoration: none;
}
a.active{
    color: yellowgreen;
    font-weight: bolder;
    border-bottom: 3px solid yellowgreen;
}
