<div class="footer">
      <a [routerLink]="[ '/list' ]" routerLinkActive="active" >常见知识点</a>
      <a [routerLink]="[ '/pipe' ]" routerLinkActive="active">管道</a>
      <a [routerLink]="[ '/animation' ]" routerLinkActive="active">动画</a>
      <!-- 下面的写法也可以 -->
      <!-- <a routerLink="/animation" [routerLinkActive]="active"></a> -->

      <!-- 传参数 -->
      <!-- <a [routerLink]="['/detail',hero.id]">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
          </a> -->
      
 </div>